{% extends 'main/template.html' %}

{% block title %}

    О нас

{% endblock %}

{% block content %}

    <h1>Адрес и телефон редакции</h1>
    <br>

<p>Телефон редакции: <b>+7 (495) 646 57 57</b></p>

<p>Телефон рекламной службы:  <b>+7 (495) 783 83 57</b></p>

<p>Адрес редакции: <b>ул. Мясницкая, д. 42</b></p>
    <br>
    <br>
    <h1>Условия передачи материалов</h1>
    <br>
    <pre style="word-wrap: break-word; white-space: pre-wrap;">

1. Настоящие Правила регламентируют отношения между ЗАО «Аргументы и Факты»  (далее Издание) и лицом (далее - Пользователь), предоставившим изданию фото, видео материалы (далее – Материалы).

2. Передача Материалов Изданию и размещение их на сайте aif.ru (далее - Сайт) становится возможным для Пользователя после выражения согласия с условиями настоящих Правил и заполнения пунктов в специальной форме.

3. Предоставляя экземпляры Материалов Изданию, каждый Пользователь тем самым:
        1. гарантирует, что является автором Материалов и обладателем исключительного права на них, подтверждает, что права на использование Материалов, включая права на воспроизведение, распространение, публичный показ, трансляцию на страницах Издания в социальных сетях, сообщение в эфир и по кабелю, доведение до всеобщего сведения, не переданы третьим лицам.
        2. дает полное и безотзывное согласие на размещение Материалов на Сайте;
        3. соглашается с тем, что он несет полную ответственность в отношении Материалов, размещенных на Сайте;
        4. отказывается от любых видов авторского вознаграждения за использование Материалов Изданием в соответствии с настоящими Правилами.

4. Пользователь несет ответственность, предусмотренную российским законодательством, за нарушение интеллектуальных прав третьих лиц.

5. Пользователь подтверждает свое согласие на обработку предоставленных Изданием его персональных данных. Обработка персональных данных Пользователя осуществляется в соответствии с законодательством Российской Федерации. Издание гарантирует конфиденциальность информации, указанной Пользователем. Указанная информация не подлежит разглашению третьим лицам, за исключением случаев, предусмотренных действующим законодательством Российской Федерации.

6. В случае предъявления третьими лицами любых претензий к Изданию, связанных с размещением на Сайте Материалов, а также с использованием Изданием Материалов, предоставленных в соответствии с настоящими Правилами, Пользователь обязуется своими силами и за свой счет урегулировать указанные претензии с третьими лицами, а Издание оставляет за собой право изъять Материалы из свободного доступа до такого урегулирования.

7. Издание не несет ответственность за содержание Материалов и за соответствие их требованиям законодательства Российской Федерации, за нарушение авторских прав, использование товарных знаков, наименований фирм и их логотипов, а также за возможные нарушения прав третьих лиц в связи с размещением Материалов на Сайте.

8. Материалы не должны содержать никаких незаконных элементов, способствовать разжиганию религиозной, расовой или межнациональной розни, содержать сцены насилия, либо бесчеловечного обращения с животными, носить непристойный или оскорбительный характер, содержать рекламу наркотических средств, нарушать права несовершеннолетних лиц, носить порнографический характер, содержать коммерческую рекламу в любом виде, а также наносить ущерб чести, достоинству и деловой репутации третьих лиц.

9. При размещении Материалов Издание указывает имя Пользователя, указанное Пользователем при предоставлении Материалов.

10. Издание вправе отказать в размещении Материалов без объяснения причин отказа, а также удалить Материалы по своему усмотрению, если их содержание противоречит нормам этики и морали, не соответствует требованиям, установленным законодательством Российской Федерации, и противоречит требованиям настоящих Правил.

11. Издание не несет ответственность за полную или частичную утрату Материалов, предоставленных Пользователем.

12. Настоящие Правила могут быть изменены Изданием в одностороннем порядке без специального уведомления Пользователя.



            </pre>
{% endblock %}