{% load static %}
<footer>
    <div class="site-logo">
        <img class="pulse-animation" src="{% static 'main/images/white_logo.svg' %}" alt="">
    </div>
    <div class="footer-container flex-container">
        <div class="footer-block card">
            <span>Демонстрационное веб-приложение разработанное с помощью фреймворка Django.</span>
        </div>
        <div class="footer-block card">
            <i class="fa fa-telegram" aria-hidden="true"></i>
            <i class="fa fa-vk" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-google" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-hashtag"></i>
        </div>
    </div>
    <div class="footer-copyright">
        <span>© Все права защищены. Копирование и использование полных материалов запрещено,
                частичное цитирование возможно только при условии гиперссылки.
        </span>
    </div>
</footer>